[global]
sqlobject.dburi="postgres://anders@/treed"
server.environment="production"
server.socket_port=8897

# Sets the number of threads the server uses
# server.thread_pool = 1

[logging]

[[handlers]]

[[[access_out]]]
# set the filename as the first argument below
args="('server.log',)"
class='FileHandler'
level='INFO'
formatter='message_only'

[[loggers]]
[[[treed]]]
level='ERROR'
qualname='treed'
handlers=['error_out']

[[[access]]]
level='INFO'
qualname='turbogears.access'
handlers=['access_out']
propagate=0
